/* ? Start  Global CSS */
*,
* ::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

::selection {
    color: black;
    background-color: #FFD15B;
}


body {
    font-family: "Exo", sans-serif;


}

html {
    scroll-behavior: smooth;
}

.container {
    width: 85%;
    margin: 0 auto;
}

img {
    width: 100%;
}

ul {
    text-decoration: none;
}

li {
    list-style: none;
}


a {
    text-decoration: none;
    color: inherit;
}

/* ? End  Global CSS */



/* ? Start  Navbar Section */
.nav {
    /* background-color:aquamarine; */
    position: fixed;
    z-index: 50;
    width: 100%;
}

.nav .nav-space-both {
    padding-block: 16px;
    padding-inline: 16px;
    max-width: 1280px;
    margin-inline: auto;
}

.nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1248px;
    padding-block: 12px;
    padding-inline: 24px;
    border: 2px solid #000;
    border-radius: 16px;
    background-color: #fff;


}

.nav .container .logo h1 {
    font-size: 30px;
    color: #111;
    font-weight: 800;

    /* line-height:1.2; */
}

.container .logo .text-orange {
    color: oklch(70.5% .213 47.604);

}

.nav .container .nav-links ul {
    display: flex;
    gap: 16px;
    align-items: center;

}

.nav-links ul li a {
    font-size: 14px;
    font-weight: 600;
    color: #000000;
    transition: 0.15s;
}

.nav-links ul li a:hover {
    color: #ff7a50;
}

.nav-links ul li i {
    font-size: 12px;
    margin-left: 16px;
}

.container .nav-subscribe-now a {
    color: #000000;
    font-weight: 700;
    font-size: 14px;
    background-color: #ffd15b;
    padding-block: 8px;
    padding-inline: 16px;
    border: 2px solid #000;
    border-radius: 3.40282e38px;
    cursor: pointer;
    display: flex;
    gap: 8px;
    align-items: center;
    transition: transform 0.15s;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);

}

.nav-subscribe-now:hover {
    position: relative;
    animation: community 0.5s;


}



@keyframes community {
    0% {
        transform: translateX(3px);

        top: 2;
        left: 2;
    }

    75% {
        transform: translateY(3px);
        top: 2;
        left: 2;

    }

    100% {
        transform: translate(3px);
    }
}




/* ? End Navbar Section */



/* ? start  Hero Section */
.hero {

    background-color: oklch(94.5% .129 101.54);

    padding-top: 144px;
    padding-bottom: 64px;
    border: 2px solid black;
}

.hero .container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}


.ideas-trending {
    background-color: #000;
    display: inline-block;
    border: 2px solid #000;
    margin-bottom: 24px;
    padding-inline: 16px;
    padding-block: 8px;
    box-shadow: 3px 3px #000;
    transform: rotate(-2deg);
}

.span-trending {
    color: #fff;
    text-align: center;
    font-weight: bold;
    font-size: 14px;

}

.hero-ideas h2 {
    font-size: 72px;
    font-weight: 900;
    margin-bottom: 32px;
    text-shadow: 3px 3px #000c;
    line-height: 1.25;

}

.span-red {
    color: oklch(57.7% .245 27.325);
    font-size: 72px;
    font-weight: 900;
}

.span-blue {
    color: oklch(54.6% .245 262.881);
    font-size: 72px;
    font-weight: 900;
}


.hero-ideas .ideas-p p {
    font-size: 24px;
    font-weight: 500;
}

.ideas-p {
    background-color: #fff;
    border: 2px solid #000;
    box-shadow: 3px 3px #000;
    line-height: 1.3;
    padding: 20px 25px;
    margin-bottom: 32px;
    width: fit-content;
    display: block;

}


.hero-btn {
    display: flex;
    gap: 15px;

}

.hero-btn-holder {
    position: relative;


}

.hero-btn-holder2 {
    position: relative;

}



.hero-btn-holder::before {
    content: "";
    background-color: #000;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 6px;
    left: 6px;
    z-index: -10;

}

.btn-rocket {
    border: 4px solid #000;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    background-color: #000;
    padding-inline: 32px;
    padding-block: 16px;
    line-height: 1.4;
    cursor: pointer;
    /* transition: transform 0.2s;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1); */
    font-family: "Exo", sans-serif;
    transition: transform 0.15s;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);

}

.btn-rocket:hover {
    /* position: relative;
    animation: press 0.5s; */
    transform: translateX(5px);
    transform: translateY(5px);

}


@keyframes press {
    0% {
        transform: translateX(3px);

        top: 2;
        left: 2;
    }

    75% {
        transform: translateY(3px);
        top: 2;
        left: 2;

    }

    100% {
        transform: translate(3px);
    }
}



.hero-btn-holder2::before {
    content: "";
    position: absolute;
    top: 6px;
    left: 6px;
    background-color: #000;
    height: 100%;
    width: 100%;
    z-index: -10;

}



.btn-play:hover {
    /* position: relative;
    animation: press 0.5s; */
    transform: translateX(5px);
    transform: translateY(5px);
}



.btn-play {
    /* box-shadow: 6px 4px #000; */
    border: 4px solid #000;
    background-color: #fff;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    padding-inline: 32px;
    padding-block: 16px;
    line-height: 1.4;
    /* transition: transform 0.2s;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1); */
    font-family: "Exo", sans-serif;
    transition: transform 0.15s;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);


}



.hero .hero-holder .hero-img img {


    object-fit: cover;

}


.hero-holder .hero-img:hover {
    position: relative;
    /* animation: shake 0.5s normal; */
    transform: translate(-2px, -2px);
}


.hero-holder .hero-img {
    transition: transform 0.3s;

    border: 4px solid #000;
    box-shadow: 6px 6px #000;
    display: flex;
    height: 400px;
    width: 600px;
    /* transform: rotate(-2deg); */

}

@keyframes shake {
    0% {
        top: 0;
        left: 0;
    }

    100% {
        top: -4;
        left: -2;
    }
}

.hero-ideas .hero-holder {
    position: relative;

}

.hero-holder .holder-span {
    position: absolute;
    top: 230px;
    right: 222px;
    background-color: oklch(63.7% .237 25.331);
    color: #fff;
    padding-inline: 16px;
    padding-block: 8px;
    border: 2px solid #000;
    box-shadow: 3px 3px #000;
    font-size: 16px;
    font-weight: 700;
    transform: rotate(12deg);
    /* z-index: 99999; */

}

/* ? End  Hero Section */



/* ? start  Articles Section */

.articles {
    background-color: oklch(97% 0 0);
    border: 2px solid #000;
    padding-block: 80px;
}

.articles .articles-space-both {
    padding-inline: 24px;
    max-width: 1280px;
    margin-inline: auto;
}

.articles .container {
    display: flex;
    gap: 25px;


}


.articles .container .articles-logo {
    display: flex;
    gap: 50px;
    justify-content: space-between;
    /* justify-content: center; */
    margin-bottom: 40px;
}

.articles-logo h3 {
    font-size: 48px;
    font-weight: 900;
    /* margin-bottom: 12px; */

}



.fresh-content {
    background-color: #000;
    display: inline-block;
    border: 2px solid #000;
    margin-bottom: 24px;
    padding-inline: 16px;
    padding-block: 8px;
    box-shadow: 3px 3px #000;
    transform: rotate(2deg);
    display: block;
}

.span-fresh {
    color: #fff;
    /* text-align: center; */
    font-weight: bold;
    font-size: 14px;
    /* justify-content: center; */

}

.articles-tech .articles-tech-content-tech {
    box-shadow: 3px 3px #000;
    border: 2px solid #000;
    display: inline-block;
    font-size: 12px;
    font-weight: 700;
    padding-block: 4px;
    padding-inline: 12px;
    background-color: oklch(90.5% .182 98.111);
    transform: rotate(-1deg);
    margin-bottom: 12px;
}




.articles-tech .articles-tech-content p {
    font-size: 18px;

    margin-bottom: 16px;
    /* padding-block: 15px; */

}

.articles-tech .articles-tech-content-new {
    position: absolute;
    top: -8;
    right: -8;
    border: 2px solid #000;
    display: inline-block;
    font-size: 12px;
    font-weight: 700;
    padding-block: 4px;
    padding-inline: 8px;
    color: #fff;
    background-color: oklch(63.7% .237 25.331);
    transform: rotate(12deg);
    margin-bottom: 12px;
}

.articles-card .articles-3-card .articles-tech {
    border: 4px solid #000;
    box-shadow: 4px 4px #000;
    padding: 32px;
    background-color: #fff;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition: all transform 5s;
    margin-block-end: 32px;


}


.articles-card .articles-3-card .articles-tech:hover h4 {
    color: #E7000B;
}

.articles-card .articles-3-card .articles-tech:hover {

    transform: translate(-2px, -2px);
    box-shadow: 6px 6px #000;
}




.articles-card .articles-3-card .articles-tech .articles-tech-inner {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 30px;
}


.articles-card .articles-3-card .articles-tech .articles-img-holder img {
    border: 2px solid #000;
    width: 160px;
    height: 128px;
    object-fit: cover;
}

.articles-card .articles-3-card .articles-tech .articles-img-holder {
    position: relative;
    margin-bottom: 0;
}

.articles-card .articles-3-card .articles-tech .articles-tech-content h4 {
    font-size: 24px;
    font-weight: 700;
    transition: 0.3s;
}


.articles-tech-content .articles-span {
    font-size: 14px;
    font-weight: 600;
}







.articles-tech-content .love-red {
    color: #E7000B;

}


.articles-tech-content .calendar-black,
.clock-black,
.love-red {
    padding-inline: 8px;

    text-align: center;

}

.articles-tech-content .user-black {
    padding-right: 15px;
}

.articles-tech-content .jan-time-black {
    padding-inline: 13px;
}


.articles-Typography-That-Screams .articles-Typography-That-Screams-content-DESIGN {
    box-shadow: 3px 3px #000;
    border: 2px solid #000;
    display: inline-block;
    font-size: 12px;
    font-weight: 700;
    padding-block: 4px;
    padding-inline: 12px;
    background-color: oklch(87.1% .15 154.449);
    transform: rotate(1deg);
    margin-bottom: 12px;
}

.articles-Typography-That-Screams .articles-Typography-That-Screams-content p {
    font-size: 18px;
    margin-bottom: 7px;
    padding-block: 2px;
}

.articles-Typography-That-Screams .articles-Typography-That-Screams-content-hot {
    position: absolute;
    top: -8;
    right: -8;
    border: 2px solid #000;
    display: inline-block;
    font-size: 12px;
    font-weight: 700;
    padding-block: 4px;
    padding-inline: 8px;
    color: #fff;
    background-color: oklch(62.3% .214 259.815);
    transform: rotate(-12deg);
    margin-bottom: 12px;
}

.articles-card .articles-3-card .articles-Typography-That-Screams {
    border: 4px solid #000;
    box-shadow: 4px 4px #000;
    padding: 32px;
    background-color: #fff;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition: all transform 5s;

    margin-block-end: 32px;

}


.articles-card .articles-3-card .articles-Typography-That-Screams:hover h4 {
    color: oklch(54.6% .245 262.881);
}

.articles-card .articles-3-card .articles-Typography-That-Screams:hover {

    transform: translate(-2px, -2px);
    box-shadow: 6px 6px #000;
}




.articles-card .articles-3-card .articles-Typography-That-Screams .articles-Typography-That-Screams-inner {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 30px;
}


.articles-card .articles-3-card .articles-Typography-That-Screams .articles-Typography-That-Screams-img-holder img {
    border: 2px solid #000;
    width: 160px;
    height: 128px;
    object-fit: cover;
}

.articles-card .articles-3-card .articles-Typography-That-Screams .articles-Typography-That-Screams-img-holder {
    position: relative;
    margin-bottom: 0;
}

.articles-card .articles-3-card .articles-Typography-That-Screams .articles-Typography-That-Screams-content h4 {
    font-size: 24px;
    font-weight: 700;
    transition: 0.3s;
}


.articles-Typography-That-Screams-content .articles-Typography-That-Screams-span {
    font-size: 14px;
    font-weight: 600;
}







.articles-Typography-That-Screams-content .love-red {
    color: #E7000B;

}


.articles-Typography-That-Screams-content .calendar-black,
.clock-black,
.love-red {
    padding-inline: 8px;

    text-align: center;

}

.articles-Typography-That-Screams-content .user-black {
    padding-right: 15px;
}


.articles-Typography-That-Screams-content .jan-time-black {
    padding-inline: 15px;
}






.articles-The-Anti-Instagram-Movement .articles-The-Anti-Instagram-Movement-content-culture {
    box-shadow: 3px 3px #000;
    border: 2px solid #000;
    display: inline-block;
    font-size: 12px;
    font-weight: 700;
    padding-block: 4px;
    padding-inline: 12px;
    background-color: oklch(82.3% .12 346.018);
    transform: rotate(-2deg);
    margin-bottom: 12px;
}

.articles-The-Anti-Instagram-Movement .articles-The-Anti-Instagram-Movement-content p {
    font-size: 18px;
    margin-bottom: 7px;
    padding-block: 2px;
}

.articles-The-Anti-Instagram-Movement .articles-The-Anti-Instagram-Movement-content-viral {
    position: absolute;
    top: -8;
    right: -8;
    border: 2px solid #000;
    display: inline-block;
    font-size: 12px;
    font-weight: 700;
    padding-block: 4px;
    padding-inline: 8px;
    color: #fff;
    background-color: oklch(62.7% .265 303.9);
    transform: rotate(45deg);
    margin-bottom: 12px;
}

.articles-card .articles-3-card .articles-The-Anti-Instagram-Movement {
    border: 4px solid #000;
    box-shadow: 4px 4px #000;
    padding: 32px;
    background-color: #fff;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition: all transform 5s;


}


.articles-card .articles-3-card .articles-The-Anti-Instagram-Movement:hover h4 {
    color: oklch(55.8% .288 302.321);
}

.articles-card .articles-3-card .articles-The-Anti-Instagram-Movement:hover {

    transform: translate(-2px, -2px);
    box-shadow: 6px 6px #000;
}




.articles-card .articles-3-card .articles-The-Anti-Instagram-Movement .articles-The-Anti-Instagram-Movement-inner {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 30px;
}


.articles-card .articles-3-card .articles-The-Anti-Instagram-Movement .articles-The-Anti-Instagram-Movement-img-holder img {
    border: 2px solid #000;
    width: 160px;
    height: 128px;
    object-fit: cover;
}

.articles-card .articles-3-card .articles-The-Anti-Instagram-Movement .articles-The-Anti-Instagram-Movement-img-holder {
    position: relative;
    margin-bottom: 0;
}

.articles-card .articles-3-card .articles-The-Anti-Instagram-Movement .articles-The-Anti-Instagram-Movement-content h4 {
    font-size: 24px;
    font-weight: 700;
    transition: 0.3s;
}


.articles-The-Anti-Instagram-Movement-content .articles-The-Anti-Instagram-Movement-span {
    font-size: 14px;
    font-weight: 600;

}







.articles-The-Anti-Instagram-Movement-content .love-red {
    color: #E7000B;

}


.articles-The-Anti-Instagram-Movement-content .calendar-black,
.clock-black,
.love-red {
    padding-inline: 8px;

    text-align: center;

}

.articles-The-Anti-Instagram-Movement-content .user-black {
    padding-right: 15px;
}



.articles-The-Anti-Instagram-Movement-content .jan-time-black {
    padding-inline: 15px;
}




.articles-card-load-articles {
    isolation: isolate;
    width: fit-content;
    margin-top: 48px;
    margin-inline: auto;
    position: relative;

}


.articles-card-load-articles::before {
    content: "";
    background-color: #000;
    width: 100%;
    height: 100%;
    z-index: -10;
    position: absolute;
    left: 6px;
    top: 6px;
}



.articles-card-load-articles .load-articles-btn {
    padding-block: 16px;
    padding-inline: 48px;
    color: #fff;
    background-color: #000;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;

    transition: transform 0.2s;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);



}


.load-articles-btn:hover {
    /* position: relative;
    animation: more 0.5s; */

    transform: translateX(5px);
    transform: translateY(5px);
    /* transform: translate(3px); */
}





.articles-trending-now .trending-now-inner {
    box-shadow: 6px 6px #000;
    border: 4px solid #000;
    padding: 32px;
    background-color: #fff;
    margin-block-end: 32px;
    margin-block-start: 0;
}


.articles-trending-now .trending-now-sticky {
    position: sticky;
    top: 32px;
}

.articles-trending-now .trending-now-inner h4 {
    font-size: 30px;
    font-weight: 900;
    margin-bottom: 24px;
}



.articles-trending-now .trending-now-inner .The-Death-of-Minimalism {
    display: flex;
    align-items: flex-start;
    cursor: pointer;
    gap: 15px;
}


.articles-trending-now .trending-now-inner .The-Death-of-Minimalism .Minimalism-span {
    color: oklch(63.7% .237 25.331);
    font-size: 36px;
    font-weight: 900;
    cursor: pointer;
    margin-top: -6px;

}


.articles-trending-now .trending-now-inner .The-Death-of-Minimalism h5 {
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    transition: color 0.15s;
}


.articles-trending-now .trending-now-inner .The-Death-of-Minimalism:hover h5 {
    color: oklch(57.7% .245 27.325);
}


.articles-trending-now .trending-now-inner .The-Death-of-Minimalism p {
    color: oklch(43.9% 0 0);
    line-height: 1.42857;
    font-size: 14px;
    margin-top: 4px;
    cursor: pointer;
}





.articles-trending-now .trending-now-inner .Chaos-as-a-Design-System {
    display: flex;
    align-items: flex-start;
    cursor: pointer;
    margin-block-start: 0;
    gap: 15px;
    margin-top: 25px;
}


.articles-trending-now .trending-now-inner .Chaos-as-a-Design-System .Design-System-span {
    color: oklch(62.3% .214 259.815);
    font-size: 36px;
    font-weight: 900;
    cursor: pointer;
    margin-top: -6px;

}


.articles-trending-now .trending-now-inner .Chaos-as-a-Design-System h5 {
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    transition: color 0.15s;
}


.articles-trending-now .trending-now-inner .Chaos-as-a-Design-System:hover h5 {
    color: oklch(54.6% .245 262.881);
}


.articles-trending-now .trending-now-inner .Chaos-as-a-Design-System p {
    color: oklch(43.9% 0 0);
    line-height: 1.42857;
    font-size: 14px;
    margin-top: 4px;
    cursor: pointer;
}







.articles-trending-now .trending-now-inner .Digital-Rebellion {
    display: flex;
    align-items: flex-start;
    cursor: pointer;
    margin-block-start: 0;
    gap: 15px;
    margin-top: 25px;
}


.articles-trending-now .trending-now-inner .Digital-Rebellion .Digital-Rebellion-span {
    color: oklch(62.7% .265 303.9);
    font-size: 36px;
    font-weight: 900;
    cursor: pointer;
    margin-top: -6px;

}


.articles-trending-now .trending-now-inner .Digital-Rebellion h5 {
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    transition: color 0.15s;
}


.articles-trending-now .trending-now-inner .Digital-Rebellion:hover h5 {
    color: oklch(55.8% .288 302.321);
}


.articles-trending-now .trending-now-inner .Digital-Rebellion p {
    color: oklch(43.9% 0 0);
    line-height: 1.42857;
    font-size: 14px;
    margin-top: 4px;
    cursor: pointer;
}









.articles-trending-now .card-categories {
    box-shadow: 6px 6px #000;
    border: 4px solid #000;
    padding: 32px;
    background-color: #fff;
    /* padding-inline: 10px; */


}



.articles-trending-now .card-categories h4 {
    font-size: 30px;
    font-weight: 900;
    margin-bottom: 24px;

}


.articles-trending-now .card-categories .categories-span-yellow {
    border: 2px solid #000;
    display: block;
    cursor: pointer;
    padding-block: 12px;
    padding-inline: 16px;
    font-weight: 700;
    background-color: oklch(97.3% .071 103.193);
    transition: all 0.15s;
    margin-block-end: 12px;
}

.articles-trending-now .card-categories .categories-span-yellow:hover {
    transform: translate(-2px, -2px);
    box-shadow: 6px 6px #000;
    border: 2px solid #000;
    background-color: oklch(90.5% .182 98.111);
}





.articles-trending-now .card-categories .categories-span-green {
    border: 2px solid #000;
    display: block;
    cursor: pointer;
    padding-block: 12px;
    padding-inline: 16px;
    font-weight: 700;
    background-color: oklch(96.2% .044 156.743);
    transition: all 0.15s;
    margin-block-end: 12px;
}


.articles-trending-now .card-categories .categories-span-green:hover {
    transform: translate(-2px, -2px);
    box-shadow: 6px 6px #000;
    border: 2px solid #000;
    background-color: oklch(87.1% .15 154.449);
}





.articles-trending-now .card-categories .categories-span-pink {
    border: 2px solid #000;
    display: block;
    cursor: pointer;
    padding-block: 12px;
    padding-inline: 16px;
    font-weight: 700;
    background-color: oklch(94.8% .028 342.258);
    transition: all 0.15s;
    margin-block-end: 12px;
}



.articles-trending-now .card-categories .categories-span-pink:hover {
    transform: translate(-2px, -2px);
    box-shadow: 6px 6px #000;
    border: 2px solid #000;
    background-color: oklch(82.3% .12 346.018);
}



.articles-trending-now .card-categories .categories-span-blue {
    border: 2px solid #000;
    display: block;
    cursor: pointer;
    padding-block: 12px;
    padding-inline: 16px;
    font-weight: 700;
    background-color: oklch(93.2% .032 255.585);
    transition: all 0.15s;
    margin-block-end: 12px;
}


.articles-trending-now .card-categories .categories-span-blue:hover {
    transform: translate(-2px, -2px);
    box-shadow: 6px 6px #000;
    border: 2px solid #000;
    background-color: oklch(80.9% .105 251.813);
}



.articles-trending-now .card-categories .categories-span-purple {
    border: 2px solid #000;
    display: block;
    cursor: pointer;
    padding-block: 12px;
    padding-inline: 16px;
    font-weight: 700;
    background-color: oklch(94.6% .033 307.174);
    transition: all 0.15s;

}


.articles-trending-now .card-categories .categories-span-purple:hover {
    transform: translate(-2px, -2px);
    box-shadow: 6px 6px #000;
    border: 2px solid #000;
    background-color: oklch(82.7% .119 306.383);
}

/* ? End  Articles Section */





/* ? Start  Authors Section */

.authors {
    border: 2px solid #000;
    padding-block: 80px;
    background-color: oklch(87.9% .169 91.605);
    position: relative;
    isolation: isolate;
}


.authors .opacity {
    opacity: .1;
    z-index: -10;
    inset: 0;
    position: absolute;
}

.opacity .absolute-1 {
    background-color: #000;
    transform: rotate(45deg);
    width: 160px;
    height: 160px;
    position: absolute;
    top: 40px;
    right: 40px;

}

.opacity .absolute-2 {
    width: 128px;
    height: 128px;
    position: absolute;
    bottom: 40px;
    left: 40px;
    transform: rotate(-12deg);
    background-color: oklch(63.7% .237 25.331);
}



.authors .container {
    max-width: 1280px;
    padding-inline: 24px;
    margin-inline: auto;

}

.authors .authors-title {
    text-align: center;
    margin-bottom: 64px;
}

.authors .authors-title h3 {
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 16px;
}


.authors .authors-title p {
    color: oklch(43.9% 0 0);
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}

.authors .authors-title .authors-spacing {
    background-color: #000;
    width: 128px;
    height: 8px;
    transform: rotate(1deg);
    margin-inline: auto;
    margin-top: 16px;
}

.authors-cards {
    display: flex;
    gap: 32px;
}


.authors-cards .authors-yellow-inner {
    box-shadow: 6px 6px #000;
    border: 4px solid #000;
    text-align: center;
    padding: 32px;
    background-color: oklch(97.3% .071 103.193);
    transition: all 0.3s;
}

.authors-cards .authors-yellow-inner:hover {
    transform: translate(-2px, -2px);
    box-shadow: 6px 6px #000;

}





.authors-yellow-inner .authors-yellow-holder-img {
    margin-bottom: 24px;
    position: relative;
    text-align: center;
}



.authors-yellow-inner .authors-yellow-holder-img img {
    border: 4px solid #000;
    width: 128px;
    height: 128px;
    margin-inline: auto;
}

.authors-yellow-inner .authors-yellow-holder-img .founder-red {
    border: 2px solid #000;
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    padding-block: 4px;
    padding-inline: 8px;
    position: absolute;
    right: -8px;
    top: -8px;
    background-color: oklch(63.7% .237 25.331);
    transform: rotate(12deg);


}

.authors-cards .authors-yellow-inner:hover h4 {
    color: oklch(57.7% .245 27.325);
}


.authors-yellow-inner h4 {
    font-size: 30px;
    font-weight: 900;
    line-height: 1.2;
    margin-bottom: 8px;
    transition: color 0.3s;
}



.authors-yellow-inner .p-p1,
.authors-yellow-inner .p-p2,
.authors-yellow-inner .p-p3 {
    line-height: 1.625;


}



.authors-yellow-inner .p-p4 {
    line-height: 1.625;
    margin-bottom: 24px;
    /* background-color: #E7000B; */

}

.authors-yellow-inner .authors-yellow-inner-p-gray {
    color: oklch(43.9% 0 0);
    font-weight: 700;
    margin-bottom: 16px;
}



.authors-yellow-inner .list-alex-brutal {
    display: flex;
    justify-content: center;
}

.list-alex-brutal i {
    font-size: 18px;
}


.authors-yellow-inner .list-alex-brutal .bg-black-twitter {
    display: flex;
    border: 2px solid #000;
    color: #fff;
    background-color: #000;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 48px;
    height: 48px;
    margin-inline-end: 16px;
    transition: all 0.3s;
}

.authors-yellow-inner .list-alex-brutal .bg-black-twitter:hover {
    transform: translate(-2px, -2px);
    box-shadow: 6px 6px #000;
    background-color: #1da1f2;
}



.authors-yellow-inner .list-alex-brutal .bg-black-linkedin {
    display: flex;
    border: 2px solid #000;
    color: #fff;
    background-color: #000;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 48px;
    height: 48px;
    margin-inline-end: 16px;
    transition: all 0.3s;
}


.authors-yellow-inner .list-alex-brutal .bg-black-linkedin:hover {
    transform: translate(-2px, -2px);
    box-shadow: 6px 6px #000;
    background-color: oklch(54.6% .245 262.881);
}




.authors-yellow-inner .list-alex-brutal .bg-black-instagram {
    display: flex;
    border: 2px solid #000;
    color: #fff;
    background-color: #000;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 48px;
    height: 48px;
    margin-inline-end: 16px;
    transition: all 0.3s;
}



.authors-yellow-inner .list-alex-brutal .bg-black-instagram:hover {
    transform: translate(-2px, -2px);
    box-shadow: 6px 6px #000;
    background-color: oklch(59.2% .249 .584);
}






.authors-cards .authors-baby-green {
    box-shadow: 6px 6px #000;
    border: 4px solid #000;
    text-align: center;
    padding: 32px;
    background-color: oklch(96.2% .044 156.743);
    transition: all 0.3s;
}

.authors-cards .authors-baby-green:hover {
    transform: translate(-2px, -2px);
    box-shadow: 6px 6px #000;

}







.authors-baby-green .authors-green-holder-img {
    margin-bottom: 24px;
    position: relative;
    text-align: center;
}



.authors-baby-green .authors-green-holder-img img {
    border: 4px solid #000;
    width: 128px;
    height: 128px;
    margin-inline: auto;
}

.authors-baby-green .authors-green-holder-img .lead-blue {
    border: 2px solid #000;
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    padding-block: 4px;
    padding-inline: 8px;
    position: absolute;
    right: -8px;
    top: -8px;
    background-color: oklch(62.3% .214 259.815);
    transform: rotate(-12deg);


}

.authors-cards .authors-baby-green:hover h4 {
    color: oklch(54.6% .245 262.881);
}


.authors-baby-green h4 {
    font-size: 30px;
    font-weight: 900;
    line-height: 1.2;
    margin-bottom: 8px;
    transition: color 0.3s;
}



.authors-baby-green .paragraph-1-p1,
.authors-baby-green .paragraph-2-p2,
.authors-baby-green .paragraph-3-p3 {
    line-height: 1.625;


}



.authors-baby-green .paragraph-4-p4 {
    line-height: 1.625;
    margin-bottom: 24px;


}

.authors-baby-green .authors-green-inner-p-gray {
    color: oklch(43.9% 0 0);
    font-weight: 700;
    margin-bottom: 16px;
}



.authors-baby-green .list-arnold-reeve {
    display: flex;
    justify-content: center;
}

.list-arnold-reeve i {
    font-size: 18px;
}


.authors-baby-green .list-arnold-reeve .bg-black-twitter-social {
    display: flex;
    border: 2px solid #000;
    color: #fff;
    background-color: #000;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 48px;
    height: 48px;
    margin-inline-end: 16px;
    transition: all 0.3s;
}

.authors-baby-green .list-arnold-reeve .bg-black-twitter-social:hover {
    transform: translate(-2px, -2px);
    box-shadow: 6px 6px #000;
    background-color: #1da1f2;
}



.authors-baby-green .list-arnold-reeve .bg-black-linkedin-social {
    display: flex;
    border: 2px solid #000;
    color: #fff;
    background-color: #000;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 48px;
    height: 48px;
    margin-inline-end: 16px;
    transition: all 0.3s;
}


.authors-baby-green .list-arnold-reeve .bg-black-linkedin-social:hover {
    transform: translate(-2px, -2px);
    box-shadow: 6px 6px #000;
    background-color: oklch(54.6% .245 262.881);
}




.authors-baby-green .list-arnold-reeve .bg-black-instagram-social {
    display: flex;
    border: 2px solid #000;
    color: #fff;
    background-color: #000;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 48px;
    height: 48px;
    margin-inline-end: 16px;
    transition: all 0.3s;
}



.authors-baby-green .list-arnold-reeve .bg-black-instagram-social:hover {
    transform: translate(-2px, -2px);
    box-shadow: 6px 6px #000;
    background-color: oklch(59.2% .249 .584);
}









.authors-cards .authors-pink-white {
    box-shadow: 6px 6px #000;
    border: 4px solid #000;
    text-align: center;
    padding: 32px;
    background-color: oklch(94.8% .028 342.258);
    transition: all 0.3s;
}

.authors-cards .authors-pink-white:hover {
    transform: translate(-2px, -2px);
    box-shadow: 6px 6px #000;

}





.authors-pink-white .authors-pink-holder-img {
    margin-bottom: 24px;
    position: relative;
    text-align: center;
}



.authors-pink-white .authors-pink-holder-img img {
    border: 4px solid #000;
    width: 128px;
    height: 128px;
    margin-inline: auto;
}

.authors-pink-white .authors-pink-holder-img .viral-pink {
    border: 2px solid #000;
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    padding-block: 4px;
    padding-inline: 8px;
    position: absolute;
    right: -8px;
    top: -8px;
    background-color: oklch(62.7% .265 303.9);
    transform: rotate(45deg);


}

.authors-cards .authors-pink-white:hover h4 {
    color: oklch(55.8% .288 302.321);
}


.authors-pink-white h4 {
    font-size: 30px;
    font-weight: 900;
    line-height: 1.2;
    margin-bottom: 8px;
    transition: color 0.3s;
}



.authors-pink-white .paragraph-p1-p1,
.authors-pink-white .paragraph-p2-p2 {
    line-height: 1.625;


}



.authors-pink-white .paragraph-p3-p3 {
    line-height: 1.625;
    margin-bottom: 24px;


}

.authors-pink-white .authors-pink-inner-p-gray {
    color: oklch(43.9% 0 0);
    font-weight: 700;
    margin-bottom: 16px;
}



.authors-pink-white .list-mike-edge {
    display: flex;
    justify-content: center;
}

.list-mike-edge i {
    font-size: 18px;
}


.authors-pink-white .list-mike-edge .bg-black-twitter-media {
    display: flex;
    border: 2px solid #000;
    color: #fff;
    background-color: #000;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 48px;
    height: 48px;
    margin-inline-end: 16px;
    transition: all 0.3s;
}

.authors-pink-white .list-mike-edge .bg-black-twitter-media:hover {
    transform: translate(-2px, -2px);
    box-shadow: 6px 6px #000;
    background-color: #1da1f2;
}



.authors-pink-white .list-mike-edge .bg-black-linkedin-media {
    display: flex;
    border: 2px solid #000;
    color: #fff;
    background-color: #000;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 48px;
    height: 48px;
    margin-inline-end: 16px;
    transition: all 0.3s;
}


.authors-pink-white .list-mike-edge .bg-black-linkedin-media:hover {
    transform: translate(-2px, -2px);
    box-shadow: 6px 6px #000;
    background-color: oklch(54.6% .245 262.881);
}




.authors-pink-white .list-mike-edge .bg-black-instagram-media {
    display: flex;
    border: 2px solid #000;
    color: #fff;
    background-color: #000;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 48px;
    height: 48px;
    margin-inline-end: 16px;
    transition: all 0.3s;
}



.authors-pink-white .list-mike-edge .bg-black-instagram-media:hover {
    transform: translate(-2px, -2px);
    box-shadow: 6px 6px #000;
    background-color: oklch(59.2% .249 .584);
}


/* ? End  Authors Section */






/* ? Start  Footer Section */


.footer {
    color: #fff;
    background-color: #000;
    padding-block: 80px;

}

.footer .container {
    padding-inline: 24px;
    max-width: 1280px;
    margin-inline: auto;

}

.footer .footer-inner {
    display: flex;
    gap: 110px;

}



.footer .footer-inner .footer-logo {
    display: flex;
    align-items: center;
    margin-bottom: 32px;
    gap: 10px;
}


.footer .footer-inner .footer-logo .fa-pen-nib {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 64px;
    height: 64px;
    border: 2px solid #000;
    background-color: #fff;

}

.footer .footer-inner .footer-logo .fa-pen-nib i {
    font-size: 25px;
    color: #000;
}


.footer .footer-inner .footer-logo h1{
    font-weight: 900;
    font-size: 30px;
}





.footer .footer-inner .footer-content .footer-content-p1{
    line-height: 1.625;
     font-size: 18px;
}



.footer .footer-inner .footer-content .footer-content-p2{
    line-height: 1.625;
margin-bottom: 32px;
 font-size: 18px;
}

.footer .footer-inner .footer-center h4{
font-size: 24px;
font-weight: 900;
margin-bottom: 32px;
}

.footer .footer-inner .footer-center .footer-list .text-yellow-1{
font-size: 18px;
font-weight: 600;
display: flex;
line-height:1.55556;
text-align: center;
cursor: pointer;
margin-block-end:16px;
transition: all 0.15s;
}

.footer .footer-inner .footer-center .footer-list .text-yellow-1:hover{
    color: oklch(90.5% .182 98.111);
}




.footer .footer-inner .footer-center .footer-list .text-yellow-2{
    font-size: 18px;
font-weight: 600;
display: flex;
line-height:1.55556;
text-align: center;
cursor: pointer;
margin-block-end:16px;
transition: all 0.15s;

}


.footer .footer-inner .footer-center .footer-list .text-yellow-2:hover{
      color: oklch(90.5% .182 98.111);
}

.footer .footer-inner .footer-center .footer-list .text-yellow-3{
    font-size: 18px;
font-weight: 600;
display: flex;
line-height:1.55556;
text-align: center;
cursor: pointer;
margin-block-end:16px;
transition: all 0.15s;

}

.footer .footer-inner .footer-center .footer-list .text-yellow-3:hover{
     color: oklch(90.5% .182 98.111); 
}


.footer .footer-inner .footer-center .footer-list .text-yellow-4{
    font-size: 18px;
font-weight: 600;
display: flex;
line-height:1.55556;
text-align: center;
cursor: pointer;
margin-block-end:16px;
transition: all 0.15s;

}

.footer .footer-inner .footer-center .footer-list .text-yellow-4:hover{
      color: oklch(90.5% .182 98.111); 
}


.footer .footer-inner .footer-center .footer-list .text-yellow-5{
    font-size: 18px;
font-weight: 600;
display: flex;
line-height:1.55556;
text-align: center;
cursor: pointer;
margin-block-end:16px;
margin-bottom: 60px;
transition: all 0.15s;

}


.footer .footer-inner .footer-center .footer-list .text-yellow-5:hover{
    color: oklch(90.5% .182 98.111); 
}


.footer-fill h4{
    font-size: 24px;
font-weight: 900;
margin-bottom: 32px;
}



.footer .footer-inner .footer-fill p{
      line-height: 1.625;
margin-bottom: 32px;
 font-size: 18px;
}


.footer .footer-inner .footer-fill .place-holder{
    color: #fff;
     font-size: 18px;
font-weight: 600;
padding: 16px;
background-color: #000;
border: #fff solid 1px;
border-radius: 0px;
width: 100%;
margin-block-end:16px;

}
.footer .footer-inner .footer-fill .place-holder:focus{
    border: oklch(90.5% .182 98.111) 1px solid;

}


.footer .footer-inner .footer-fill .place-holder:focus-visible{
    outline: 0;
}

.footer .footer-inner .footer-fill .fill-btn{
    box-shadow: -4px -4px 0 0 rgba(0, 0, 0, 0.2) inset;
    border: 4px solid #000;
    color: #000;
    background-color:  oklch(90.5% .182 98.111);
    padding-block: 16px;
    
    width: 100%;
    cursor: pointer;
    position: relative;
    font-size: 18px;
    font-weight: 700;
    transition: all 0.2s;

}

.footer .footer-inner .footer-fill .fill-btn:hover{
   
    background-color: oklch(85.2% .199 91.936);
    box-shadow: -4px -4px 0 0 rgba(0, 0, 0, 0.2) inset;
    --tw-shadow: inset 0 2px 4px 0 var(--tw-shadow-color, #0000000d);
    transform: translateY(4px);
    /* transform: translate(4px); */
}


.refrents{
    border-top: 4px solid #fff;
    padding-top: 32px;
    
}


.refrents .refrents-inner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.refrents .refrents-inner p{
    margin-bottom: 0;
    font-size: 18px;
    font-weight: 600;
}


.refrents .refrents-inner .bottom-links{
    display: flex;
    gap: 25px;
   
}



.refrents .refrents-inner .bottom-links a{
    font-weight: 600;
   transition: all 0.15s;
}

.refrents .refrents-inner .bottom-links a:hover{
    color: oklch(90.5% .182 98.111);
}

/* ? Start  Footer Section */