* {
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
}

.container {
    width: 80%;
    margin: auto;
}

.hero {
background-color: oklch(0.99 0 0);
    padding-block: 50px;
}

.hero-content {
    float: left;
    width: 50%;
}

.hero-img {
    float: left;
    width: 50%;
}

.clear-fix {
    clear: both;
}

.hero .hero-content h1 {
    font-size: 50px;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    padding-inline: 50px;
}

.hero .hero-content p {
    color: oklch(44.6% .03 256.802);
    padding-block: 20px;
}

.hero .hero-content .start-btn {
    padding: 14px 30px;
    border-radius: 6px;
    background-color: black;
    color: white;
}

.hero .hero-content .Learn-btn {
    padding: 14px 30px;
    border-radius: 6px;
    background-color: transparent;
    border: 1px solid oklch(87.2% .01 258.338);
    color: oklch(37.3% .034 259.733);
}

.hero .hero-img .hero-img-item {
    width: 72%;
}

.hero .hero-img .hero-img-item img {
    border-radius: 15px;
}


.why {

    text-align: center;
}

.why h2{
 padding-block:5px;
font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
font-weight: bolder;
font-size: 40px;
}

.why p {
    padding-block:35px;
color: oklch(44.6% .03 256.802);
}

.why-card1 h3 {
    margin-top: 20px;
}

.why-card2 h3 {
    margin-top: 20px;
}

.why-card3 h3 {
    margin-top: 20px;
}



    .why-card1 p {
        color: oklch(44.6% .03 256.802);

    }

    .why-card2 p {
        color: oklch(44.6% .03 256.802);

    }

    .why-card3 p {
        color: oklch(44.6% .03 256.802);

    }

.why .why-card1 {
    background-color: oklch(93.2% .032 255.585);
    float: left;
    width: 29%;
    margin-inline: 10px;
    padding: 10px;
    border-radius: 12px;
    border: 1px solid oklch(88.2% .059 254.128);
}

.why .why-card2 {
    background-color:oklch(95% .052 163.051);
    float: left;
    width: 29%;
    margin-inline: 10px;
    padding: 10px;
    border-radius: 12px;
    border: 1px solid oklch(90.5% .093 164.15);
}

.why .why-card3 {
    background-color:oklch(94.6% .033 307.174) ;
    float: left;
    width: 29%;
    margin-inline: 10px;
    padding: 11px;
    border-radius: 12px;
    border: 1px solid oklch(90.2% .063 306.703);
}

.why .why-card1 .why-icon1 {
    background-color: oklch(54.6% .245 262.881);
    width: 30px;
    padding: 20px;
    height: 30px;
    margin-inline: auto;
    border-radius: 10px;
margin-top: 5px;
align-items: center;
}

.why .why-card2 .why-icon2 {
    background-color: oklch(59.6% .145 163.225);
    width: 30px;
    height: 30px;
    padding: 20px;
    margin-inline: auto;
    border-radius: 10px;
margin-top: 5px;
}

.why .why-card3 .why-icon3 {
    background-color: oklch(55.8% .288 302.321);
    width: 30px;
    height: 30px;
    padding: 20px;
    margin-inline: auto;
    border-radius: 10px;
    margin-top: 4px;

}
    .why-internal1{
    background-color: aliceblue;
    width: 31.999px;
    height: 31.999px;
    margin-inline: auto;
    border-radius: 8px;

}

    .why-internal2 {
    background-color: aliceblue;
    width: 31.999px;
    height: 31.999px;
    margin-inline: auto;
    border-radius: 50%;

}
    .why-internal3 {
    background-color: aliceblue;
    width: 31.999px;
    height: 31.999px;
    margin-inline: auto;
    border-radius: 3px;

}

.more{
  
    padding-block: 100px;
}

.more .more-img{
    float: left;
    width: 45%;
}
.more .more-content{
    float: left;
    width: 45%;
    margin-inline: 20px;
}
.more .more-content-item h3{
    padding-block: 10px;
   
} 
.more .more-content h2{
    font-weight: bold;
    font-size: 30px;
    margin-left: 20px;
    padding-inline: 10px;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

}
.more .more-content-item p{
    color: oklch(44.6% .03 256.802);
}


.more  .more-content-item{
    padding-block: 15px;
    border-left: 4px solid black;
    margin-block: 8px;
    padding-left: 10px;
    margin-left: 20px;
}

.more .more-img img{
    border-radius: 15px;
    
    
}

.what{
    background-color: oklch(0.99 0 0);
    padding-block: 100px;
}
.what h2{
    padding-block:5px;
font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
font-weight: bolder;
font-size: 40px;
text-align: center;
}
.what p {
    text-align: center;
    padding-top: 30px;
    padding-block:35px;
    color: oklch(44.6% .03 256.802);
    
}

.what .what-img-item-img{
    width: 70%;
    margin-top:30 ;
margin-left: 20;
    
    
}





.what .what-item-img{
    float: left ;
    width: 25%;
}
.what-card-item1 .what-name p{
    text-align: left;
    margin-top:-30;
margin-left:10px;

}
.what-card-item2 .what-name p{
    text-align: left;
     margin-top:-30;
margin-left:10px;

}
.what-card-item3 .what-name p{
   text-align: left;
    margin-top:-30;
margin-left:10px;

}





.what-card-item1 .what-name h4{
    margin-top: 40px;
    margin-left: 10px;
    text-align: left;
    
}

.what-card-item2 .what-name h4{
   text-align: left;
   margin-top: 40px;
     margin-left: 10px;
}
.what-card-item3 .what-name h4{
text-align: left;
margin-top: 40px;
      margin-left: 10px;
}
.what .what-item-img img{
border-radius: 50%;
}
.what .what-name{
    float: left;
    width: 75% ;
}
.what .what-card-item1{
    background-color: oklch(93.2% .032 255.585);
border: 1px solid oklch(88.2% .059 254.128);
    float: left;
    width: 29%;
    margin-inline: 10px;
    padding: 10px;
    border-radius: 12px;
    
}

.what .what-card-item2{
 background-color:oklch(95% .052 163.051);
 border: 1px solid oklch(90.5% .093 164.15);
  float: left;
    width: 29%;
    margin-inline: 10px;
    padding: 10px;
    border-radius: 12px;
}

.what .what-card-item3{
     background-color:oklch(94.6% .033 307.174) ;
 border: 1px solid oklch(90.2% .063 306.703);
    float: left;
    width: 29%;
    margin-inline: 10px;
    padding: 11px;
    border-radius: 12px
}

.number{
    float: left;
 background-color: oklch(0.99 0 0);
 border-radius: 12px;
 width: 100%;
    padding-top: 20px;
 margin-top: 40px;
 text-align: center;
}



.number h4{
    margin-block: -20px;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
font-weight: bolder;
font-size: 40px;
}





.number1{
    float: left;
width: 29%;
text-align: center;
 margin-top: 43px;
}

.number2{
    float: left;
 text-align: center;
 width: 25%;
  margin-top: 43px;
}

.number3{
    float: left;
width: 25%;
 text-align: center;
  margin-top: 43px;
}


.number4{
    float: left;
width: 20%;
text-align: center;
 margin-top: 43px;
}
